<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>farenheitCelsiusSwitch</key>
	<string>farenheitIsSelected</string>
	<key>temperatureMaximumThreshold</key>
	<real>11.1</real>
	<key>temperatureMinimumThreshold</key>
	<real>11.1</real>
	<key>humidityMaximumThreshold</key>
	<real>11.1</real>
	<key>humidityMinimumThreshold</key>
	<real>11.1</real>
</dict>
</plist>
